*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: lato, sans-serif;;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background: url(images/background_image.jfif) no-repeat center center/cover;
}


.container{
    width: 500px;
    height: 300px;
}


.header{
    font-size: 1.5rem;
    border: 2px solid #fff;
    background-color: rgb(27, 26, 26);
    color: #fff;
    border-radius: 5px;
    padding: 10px auto;
    margin-bottom: 10px;;
   
}


.main-content{
    background-color: #fff;
    width: 100%;
    height: 250px;
    border-radius: 5px;
    padding: 10px;
} 


.main-content .text-area{
    font-size: larger;
    padding: 20px;
    line-height: 1.5rem;
    margin-top: 10px;
}

.person{
    text-transform: uppercase;
    letter-spacing: 3px;
    color: red;
    margin-top: 10px;
}


.button-area button{
    margin-top: 10px;
    font-size: larger;
    padding: 10px 20px;
    background-color:rgb(27, 26, 26) ;
    color: #fff;
    border-radius: 5px;
}

.button-area button:active{
    transform: scale(1.1);
    background-color: lightblue;
}
